# 设置淘宝镜像
registry=https://registry.npmmirror.com

# 自动安装 peerDependencies
auto-install-peers=true

# 启用 lockfile
lockfile=true

# 允许链接工作区包
link-workspace-packages=true

# 禁用严格的 peerDependencies 检查
strict-peer-dependencies=false

# 设置 Chromium 下载镜像
PUPPETEER_DOWNLOAD_HOST=https://npmmirror.com/mirrors/chromium-browser-snapshots/

# 设置 Chromium 下载超时时间
PUPPETEER_DOWNLOAD_TIMEOUT=120000